Repository aau-giraf/web-api, pull requests merged in 2021-12, with the labels that each got.

#239 Refactored User Controller
  GirafRest.Test/AsyncDbQueryProvider.cs
  GirafRest.Test/Controllers/AccountControllerTest.cs
  GirafRest.Test/Controllers/AlternateNameControllerTest.cs
  GirafRest.Test/Controllers/DepartmentControllerTest.cs
  GirafRest.Test/Controllers/PictogramControllerTest.cs
  GirafRest.Test/Controllers/UserControllerTest.cs
  GirafRest.Test/Controllers/WeekTemplateControllerTest.cs
  GirafRest.Test/FakeRepositoryContexts/FakePictogramRepositoryContext.cs
  GirafRest.Test/GirafRest.Test.csproj
  GirafRest.Test/Mocks/MockGirafService.cs
  GirafRest.Test/Mocks/MockSignInManager.cs
  GirafRest.Test/Mocks/MockUserController.cs
  GirafRest.Test/Mocks/MockUserManager.cs
  GirafRest.Test/Repositories/DepartmentResourseRepositoryTest.cs
  GirafRest.Test/Repositories/GirafUserRepositoryTest.cs
  GirafRest.Test/Repositories/ImageRepositoryTest.cs
  GirafRest.Test/Repositories/PictogramRepositoryTest.cs
  GirafRest.Test/Repositories/UserResourceRepositoryTest.cs
  GirafRest.Test/Services/GirafServiceTest.cs
  GirafRest/Controllers/AccountController.cs
  GirafRest/Controllers/UserController.cs
  GirafRest/Controllers/WeekController.cs
  GirafRest/Filters/LogFilter.cs
  GirafRest/IRepositories/IGirafUserRepository.cs
  GirafRest/IRepositories/IImageRepository.cs
  GirafRest/IRepositories/IPictogramRepository.cs
  GirafRest/IRepositories/IRepositories M to M/IActivityRepository.cs
  GirafRest/IRepositories/IRepositories M to M/IDepartmentResourseRepository.cs
  GirafRest/IRepositories/IRepositories M to M/IUserResourseRepository.cs
  GirafRest/IRepositories/IWeekRepository.cs
  GirafRest/IRepositories/IWeekdayRepository.cs
  GirafRest/Interfaces/IGirafService.cs
  GirafRest/Models/GirafUser.cs
  GirafRest/Repositories/GirafUserRepository.cs
  GirafRest/Repositories/ImageRepository.cs
  GirafRest/Repositories/PictogramRepository.cs
  GirafRest/Repositories/Repositories M to M/DepartmentResourseRepository.cs
  GirafRest/Repositories/Repositories M to M/UserResourseRepository.cs
  GirafRest/Repositories/Repository.cs
  GirafRest/Repositories/WeekDayColorRepository.cs
  GirafRest/Repositories/WeekRepository.cs
  GirafRest/Repositories/WeekdayRepository.cs
  GirafRest/Services/GirafAuthenticationService.cs
  GirafRest/Services/GirafService.cs
  GirafRest/Setup/Startup.cs
Labels: GIRAF-1, Sprint 4

#244 Bug-fix 198: The type of activityId was int but should be long
  GirafRest.Test/Controllers/ActivityControllerTest.cs
  GirafRest.Test/Repositories/PictogramRelationRepositoryTest.cs
  GirafRest/Controllers/ActivityController.cs
  GirafRest/IRepositories/IRepositories M to M/IPictogramRelationRepository.cs
  GirafRest/Repositories/Repositories M to M/PictogramRelationRepository.cs
Labels: type: bug

#228 Feature 199: Refactored AlternateNameController
  GirafRest.Test/Controllers/AlternateNameControllerTest.cs
  GirafRest.Test/Controllers/DepartmentControllerTest.cs
  GirafRest.Test/GirafRest.Test.csproj
  GirafRest.Test/Repositories/AlternateNameRepositoryTest.cs
  GirafRest.Test/Repositories/GirafUserRepositoryTest.cs
  GirafRest/Controllers/AlternateNameController.cs
  GirafRest/Controllers/BaseControllerExtensions.cs
  GirafRest/IRepositories/IAlternateNameRepository.cs
  GirafRest/IRepositories/IGirafUserRepository.cs
  GirafRest/IRepositories/IPictogramRepository.cs
  GirafRest/Models/DTOs/AlternateNameDTO.cs
  GirafRest/Models/Responses/ErrorCode.cs
  GirafRest/Repositories/AlternateNameRepository.cs
  GirafRest/Repositories/GirafUserRepository.cs
  GirafRest/Repositories/PictogramRepository.cs
  GirafRest/Repositories/Repository.cs
Labels: Sprint1, GIRAF-4

#245 Quick fix/added temporary context and fixes breaking the application
  GirafRest/Controllers/AccountController.cs
  GirafRest/Controllers/AlternateNameController.cs
  GirafRest/Controllers/DepartmentController.cs
  GirafRest/Controllers/PictogramController.cs
  GirafRest/Controllers/StatusController.cs
  GirafRest/Controllers/WeekTemplateController.cs
  GirafRest/Services/GirafService.cs
Labels: type: bug

#249 Feature/201
  GirafRest/Controllers/ErrorController.cs
Labels: GIRAF-3
