Repository aau-giraf/web-api, pull requests merged in 2021-11, with the labels that each got.

#229 Sorting weeks in "overståede uger"
  GirafRest.Test/SortingWeekTest.cs
  GirafRest/Controllers/WeekController.cs
  GirafRest/Models/DTOs/WeekNameDTO.cs
Labels: Sprint 0, GIRAF-1

#232 Manually adding roles that are missing
  GirafRest/.editorconfig
  GirafRest/Data/DBInitializer.cs
  GirafRest/Data/SampleDataHandler.cs
  GirafRest/Data/samples.json
Labels: GIRAF-1, Sprint 2

#223 Feature 198: Refactor Activity Controller
  GirafRest.Test/Controllers/ActivityControllerTest.cs
  GirafRest.Test/GirafRest.Test.csproj
  GirafRest.Test/Repositories/GirafUserRepositoryTest.cs
  GirafRest.Test/Repositories/PictogramRelationRepositoryTest.cs
  GirafRest/Controllers/ActivityController.cs
  GirafRest/Data/GirafDbContext.cs
  GirafRest/IRepositories/IAlternateNameRepository.cs
  GirafRest/IRepositories/IGirafUserRepository.cs
  GirafRest/Models/Many-to-Many Relationships/GuardianRelation.cs
  GirafRest/Models/Many-to-Many Relationships/PictogramRelation.cs
  GirafRest/Repositories/AlternateNameRepository.cs
  GirafRest/Repositories/GirafUserRepository.cs
  GirafRest/Repositories/TimerRepository.cs
  GirafRest/Setup/Startup.cs
Labels: Sprint1, GIRAF-4
